.topbar {
    width: 100%;
    height: 48.2px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgb(202, 213, 255);
    font-size: 15px;
    h2{
      font-family: 'Barlow', sans-serif !important;
      font-weight: 400;
    }
    .topbarWrapper {
      height: 100%;
      padding: 0px 25px;
      display: flex;
      align-items: center;
      justify-content: end;
      .logo{
          height: 50px;
      }
    }
  }
  
  @media (max-width: 900px) {
    .topbar .topbarWrapper {
      padding: 0;
      font-size: 0.7rem;
    }
  }